---
import Candidate from '../../components/Candidate.astro'
import Layout from '../../layouts/Layout.astro'
import Arrow from '../../components/icons/Arrow.astro'

// IMPORTAR LISTAS DE PRUEBA
import Categories from '../../data/testing/categories'
import Candidates from '../../data/testing/candidates'

// CARGA CANDIDATOS Y LINKS A CATEGORIAS PREV Y SIG
export async function getStaticPaths() {
  let m_prev
  let m_next

  return Categories.map((categoria) => {
    m_prev = Categories[Categories.indexOf(categoria) - 1]
    m_next = Categories[Categories.indexOf(categoria) + 1]
    if (Categories.indexOf(categoria) == 0) {
      m_prev = './'
    }
    if (Categories.indexOf(categoria) == Categories.length - 1) {
      m_next = './'
    }

    return {
      params: { categoria },
      props: {
        Candidate_1: Candidates[Categories.indexOf(categoria)][0],
        Candidate_2: Candidates[Categories.indexOf(categoria)][1],
        Candidate_3: Candidates[Categories.indexOf(categoria)][2],
        Candidate_4: Candidates[Categories.indexOf(categoria)][3],
        m_prev,
        m_next
      }
    }
  })
}

const title = Astro.params.categoria
const candidate1 = Astro.props.Candidate_1
const candidate2 = Astro.props.Candidate_2
const candidate3 = Astro.props.Candidate_3
const candidate4 = Astro.props.Candidate_4
const prev = Astro.props.m_prev
const next = Astro.props.m_next

//FORMATO DE TITULO

const span_format = `hidden lg:block bg-cotton-candy self-end mb-[12px] h-[4px]`
---

<Layout
  title={title}
  description='Votaciones'
  background='bg-gradient-to-r from-[#05303A] to-black-pearl'
  headerColor_bg='bg-transparent'
  headerColor_text='text-cotton-candy'
>
  <!-- Peepo background -->
  <div
    class="flex min-h-[90svh] bg-[url('/Prayge.svg')] bg-[_80%_80%] bg-bottom bg-no-repeat"
  >
    <!-- FORMULARIO DE VOTACION -->
    <form
      class='flex w-screen flex-1 flex-col justify-around [&>div>button]:has-[:checked]:bg-gradient-to-tr'
      action='#'
      method='#'
    >
      <!-- TITULO DE CATEGORIA -->
      <div class='flex justify-center'>
        <div class='grid-cols-[1fr_auto_1fr] lg:grid 2xl:w-[40%]'>
          <div class=`${span_format}`></div>
          <h1
            class=`text-[4rem] font-semibold text-cotton-candy tracking-wide underline`
          >
            {title}
          </h1>
          <span class=`${span_format}`></span>
        </div>
      </div>
      <!-- CANDIDATOS -->
      <div class='flex flex-wrap justify-center'>
        <div class='flex flex-wrap justify-center'>
          <label
            class=`border-[3px] border-transparent m-5
                has-[:checked]:border-carnation-500
                [&>div>.title]:has-[:checked]:flex
                [&>div>img]:has-[:checked]:blur-[2px]`
          >
            <div
              class=`m-3 flex h-[13.5rem] w-[24rem]
                  bg-[#ffb8cf80] hover:cursor-pointer`
            >
              <input
                class='absolute h-0 w-0 opacity-0'
                type='radio'
                name={title}
                value='1'
              />
              <Candidate
                categoria={title}
                title={candidate1.nominado}
                image={candidate1.img}
                href={candidate1.url}
                id='1'
              />
            </div>
          </label>
          <label
            class=`border-[3px] border-transparent m-5
                has-[:checked]:border-carnation-500
                [&>div>.title]:has-[:checked]:flex
                [&>div>img]:has-[:checked]:blur-[2px]`
          >
            <div
              class=`m-3 flex h-[13.5rem] w-[24rem]
                  bg-[#ffb8cf80] hover:cursor-pointer`
            >
              <input
                class='absolute h-0 w-0 opacity-0'
                type='radio'
                name={title}
                value='2'
              />
              <Candidate
                categoria={title}
                title={candidate2.nominado}
                image={candidate2.img}
                href={candidate2.url}
                id='2'
              />
            </div>
          </label>
        </div>
        <div class='flex flex-wrap justify-center'>
          <label
            class=`border-[3px] border-transparent m-5
                has-[:checked]:border-carnation-500
                [&>div>.title]:has-[:checked]:flex
                [&>div>img]:has-[:checked]:blur-[2px]`
          >
            <div
              class=`m-3 flex h-[13.5rem] w-[24rem]
                  bg-[#ffb8cf80] hover:cursor-pointer`
            >
              <input
                class='absolute h-0 w-0 opacity-0'
                type='radio'
                name={title}
                value='3'
              />
              <Candidate
                categoria={title}
                title={candidate3.nominado}
                image={candidate3.img}
                href={candidate3.url}
                id='3'
              />
            </div>
          </label>
          <label
            class=`border-[3px] border-transparent m-5
                has-[:checked]:border-carnation-500
                [&>div>.title]:has-[:checked]:flex
                [&>div>img]:has-[:checked]:blur-[2px]`
          >
            <div
              class=`m-3 flex h-[13.5rem] w-[24rem]
                  bg-[#ffb8cf80] hover:cursor-pointer`
            >
              <input
                class='absolute h-0 w-0 opacity-0'
                type='radio'
                name={title}
                value='4'
              />
              <Candidate
                categoria={title}
                title={candidate4.nominado}
                image={candidate4.img}
                href={candidate4.url}
                id='4'
              />
            </div>
          </label>
        </div>
      </div>

      <!-- BOTONES DE NAVEGACION Y CONFIRMACION -->
      <div class='flex justify-between sm:px-28'>
        <!-- BOTON PREV -->
        <a href={prev} class=`px-5 text-[1.75rem] text-glacier-100`
          ><div class='w-14'>
            <Arrow />
          </div>
          Prev
        </a>
        <!-- BOTON VOTAR -->
        <button
          type='button'
          value='Votar'
          class=`cursor-pointer bg-cotton-candy
              from-cotton-candy to-cotton-candy-400 px-16 max-h-16 font-bold tracking-wide
              shadow-[-10px_10px_black,-10px_10px_0_2px_rgb(255,184,208)]
              transition-all hover:-translate-x-5 hover:translate-y-2
              hover:shadow-none hover:transition-all text-[2rem]`
          >Votar</button
        >
        <!-- BOTON SIG -->
        <a
          href={next}
          class=`px-5 text-[1.75rem] text-glacier-100
              text-center`
          ><div class='w-14'>
            <Arrow direction='right' />
            Sig
          </div>
        </a>
      </div>
    </form>
  </div>
</Layout>
