---
import Header from '../components/Header.astro'

interface Props {
  title: string
  description: string
  background?: string
  headerColor_bg?: string
  headerColor_text?: string
}

const {
  title,
  description,
  background = 'bg-black-pearl',
  headerColor_bg = 'bg-cotton-candy',
  headerColor_text = 'text-black'
} = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class=`h-screen ${background} text-black-pearl`>
    <Header Color_bg={headerColor_bg} Color_text={headerColor_text} />
    <slot />
  </body>
</html>
